@import url("https://fonts.googleapis.com/css2?family=Jomhuria&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap");

$fuentePrincipal: "Jost", sans-serif;

$fuenteAlternativa: "Jomhuria", serif;

$fuenteSecundaria: "Noto Sans Display", sans-serif;


$colorMain:white;
$colorSecundario:#e20d18;
$colorDetalles:yellow;

